:root {
    --bg: #282828;
    --fg: #ebdbb2;

    --red: #fb4934;
    --green: #b8bb26;
    --yellow: #fabd2f;
    --blue: #83a598;
    --purple: #d3869b;
    --aqua: #8ec07c;

    --red1: #cc241d;
    --green1: #98971a;
    --yellow1: #d79921;
    --blue1: #458588;
    --purple1: #b16286;
    --aqua1: #689d6a;
}

body {
    background-color: var(--bg);
    color: var(--fg);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    padding: 0;
    margin: 0;
}

header {
    padding: 1rem;
}

#input-fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.input-container {
    margin: 1rem;
}
.input-container > * {
    margin: 0 0 0.3rem 0;
    padding: 0;
}
.input-title {
    color: var(--green);
}
.input-field {
    padding: 0.3rem 0.3rem;
    border-radius: 5px;
    border: none;
    outline: none;
    min-width: 15rem;

    background-color: var(--fg);
    -moz-appearance: textfield;
}
.input-field::placeholder {
    color: var(--bg);
}
.input-field::-webkit-inner-spin-button, .input-field::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#bot-separator {
    border: red 1px solid;
    width: 100%;
}